.calculator__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.125em;
  width: max-content;

  background: #d3d3d3;
}

.calculator__container * {
  font-size: 1.25em;
}

.calculator__field {
  grid-column: 1/5;
  background: red;
}

.calculator__field > input {
  border: none;
  font-size: 2.5em;
  width: 100%;
  text-align: right;
  padding: .5em 0;
  outline: none;
  background: #858693;
}

.calculator__container > button {
  padding: 2em 3em;
  background: #e0e0e0;
  border: none;
}

.calculator__container > button:active {
  background: #ccc;
}

.calculator__container > button:nth-child(4n + 1), 
.calculator__container > button:last-child {
  background: #f4913e;
}

.calculator__container > button:nth-child(4n + 1):active,
.calculator__container > button:last-child:active {
  background: #d88038;
}

.calculator__container > .calc__zero {
  grid-column: 1/3;
}

/* Disable Calculator Input Arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}